trunk/Advanced installer/HUD Installer/HUD Installer/installlayout.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fpsbanana.com/guis/23833/installlayout" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InstallLayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Tab">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Checkbox">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Id" type="xs:string" />
                      <xs:element name="Component" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Choice">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Id" type="xs:string" />
                      <xs:element name="Label" type="xs:string" />
                      <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="Category" type="xs:string" />
                        <xs:element name="Component" type="xs:string" />
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>